<style>
    :root {
        --primary-color: #0f1419;
        --primary-text-color: #d7d7d7;
        --primary-text-color-over: #FFF;
        --primary-link-color: #9b9b9b;
        --button-outline: white;
        --secondary-color: #202428;
        --secondary-text-color: #f2f2f2;
        --toc-highlight-text-color: #808080;
        --toc-current-color: #8040FF;
        --toc-background-color: #3a3a3a;
        --code-color: white;
        --code-background-color: #4a4a4a;

        --shadow-color: #202020;
        --header-font-family: "Open Sans", sans-serif;
        --text-font-family: "Open Sans", sans-serif;
    }
</style>
